
/*logo class for the helphub <p> in top left corner of browser when displayed */
.logo {
    color: green;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30pt;
    padding: 20pt;
    border: 2px solid black;
    margin: 5px, 5px, 100px;
}

/* for background color */
body {
    background-color: white;
}


/* type style and formatting for headings */
h1, h2, h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 5px solid black;
    text-align: center;
    background-color: azure;
}

/* color for h1 */
h1 {
    color: rgb(0, 0, 195);
}

/* color for h2 */
h2 {
    color: rgb(252, 171, 16); 
}

.purple {
    color:rgb(170, 69, 134);
}

.green {
    color: green;
}

/* formatting for paragraphs */
p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18pt;
}


.container {
    display: flex;
}

/* formatting for navbar */
.navbar {
    width: 225px;
    background-color: rgba(4, 201, 201,.5);
    margin-top: 40px;
    border: solid;
}

/* formatting for the underordered list
removed bullet points and adds padding */
.navbar ul {
    list-style-type: none;
    padding: 5px;
}

/* formatting for list elements, adds padding and font style */
.navbar ul li {
    padding: 20px 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* formatting for list elements and attribute tags*/
.navbar ul li a {
    display: block;
    width: 200px;
    height: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16pt;
    text-align: center;
    text-decoration: none;
    color:black;
    background-color:rgb(4, 201, 201);
    border: solid;
}

.content {
    flex-grow: 1;
    padding: 20px;
    text-align: center;
}

.largeFont {
    font-size: 40pt;
}

.mediumFont {
    font-size: 25pt;
}

.smallFont {
    font-size: 11pt;
}

/* formatting for homepage navbar "getting started" */
.smallFont2 {
    font-size: 15pt;
    text-align: center;
}

.list {
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20pt;
}

.list li {
    padding: 10px;
    list-style-type: disc;
}

/* formatting for buttons */
.button {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16pt;
    background-color:aqua;
    margin-bottom: 100px;
}

.listStyle2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16pt;
}

/* formatting for volunteer buttons */
.volunteer {
    background-color: rgb(3, 179, 3);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15pt;
}

/* formatting for the navbar when a user is on the selected page */
#active {
    background-color: yellow;
}

/* formatting for slogan on homepage */
.slogan {
    padding-top: 75px;
    font-family: 'Courier New', Courier, monospace;
    color: green;
    font-size: 30pt;
}

#hidden {
    display: none;
}

#message {
    display: none;
}

#hide {
    display:block;
}
